.App {
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
  cursor : pointer;
}

@-webkit-keyframes slide {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(40px, -40px);
  }
}

.code {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}

/* used in Title and Works */
.dot-pattern {
  position: absolute;
  -webkit-animation: slide 2s linear infinite;
  /*-webkit-transition: padding-top 300ms 0s ease;*/
  width: calc(100% + 40px);
  margin-left: -40px;
  height: calc(100% + 40px);
  background-image: url(/images/dot_pattern.png);
  background-size: 20px;
}


.Title {
  position: relative;
}


.Title .container {
  height: 100%;
  position: relative;
}

.Title .logo {
  height: 100%;
  margin: auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Title .logo img {
  width: 100%;
}

.Statement {
  position: relative;
  color: white;
  text-align: center;
  background-color: #2c3e50;
}

@media all and (max-width: 600px) {
  .Statement {
    padding: 80px 0;
  }
}

.Statement p.title {
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 1.5em;
}

@media all and (max-width: 600px) {
  .Statement p.title {
    font-size: 24px;
  }
}

.Statement .statement p {
  font-size: 16px;
  margin: 0px;
  line-height: 1.8em;
}

@media all and (max-width: 600px) {
  .Statement .statement p {
    font-size: 14px;
  }
}


.Statement .statement {
  padding-bottom: 8px;
}

.Works {
  position: relative;
  background: none;
}

.Works .works-container {
  padding: 0 1;
}

.Works p.title {
  margin-top: 0;
  text-align: center;
  font-size: 40px;
  margin-bottom: 1.5em;
}

.Works .col.work {
  box-sizing: border-box;
  margin-left: 0;
}

.Works .work a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.Works .work a.disabled {
  pointer-events: none;
}

.Works .work .card-action {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.History {
  position: relative;
  background-color: #2c3e50;
  padding-bottom: 40px;
}

.History p.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 1.5em;
  color: white;
}

.History p.title {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.History p {
  line-height: 1.7em;
}

.History p.time {
  color: #ecf0f1;
}

.History p.place {
  color: #ecf0f1;
  margin-bottom: 8px;
}

.History p.text {
  line-height: 1.7em;
}

.History .row .col.elem {
  box-sizing: border-box;
  margin-left: 0;
  color: white;
}

.History .study {
  margin-bottom: 50px;
}

.flex {
  display:-webkit-box;
  display:-moz-box;
  display:-ms-box;
  display:-webkit-flexbox;
  display:-moz-flexbox;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:flex;
  -webkit-box-lines:multiple;
  -moz-box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  flex-direction:row;
}

